:root {
    --verde-musgo: #2A534F;
    --verde-claro: #206467;
    --laranja: #C16732;
    --marrom: #624D3A;
    --bege: #E5C1A1;
    --branco: #FFFFFF;
    --montserrat: 'Montserrat', sans-serif;
    --dancing: 'Dancing Script', cursive;
}

html {
    background: white;
}

body {
    background: var(--verde-musgo);
    font-family: var(--montserrat);
    max-width: 400px;
    margin: 0 auto;
}

p {
    line-height: 19.5px;
}

h1 {
    font-family: var(--dancing);
    font-size: 64px;
    color: var(--bege);
}

h2 {
    font-family: var(--dancing);
    font-size: 56px;
    color: var(--bege);
}

h3 {
    font-family: var(--dancing);
    font-size: 48px;
    color: var(--bege);
    margin-bottom: 1rem;
}

.container {
    padding: 0 2.5rem;
}