@import url("reset.css");
@import url("base.css");

@keyframes decima{
    from {transform: translateY(-100px);
        opacity: 0;
    }
}

@keyframes daesquerda {
    from {transform: translateX(-90px); opacity: 0;}    
}

@keyframes dadireita {
    from {transform: translateX(90px); opacity: 0;}    
}

.cabeçalho {
    padding-top: 56px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cabeçalho h1 {
    animation-name: decima;
    animation-duration: 1s;
}

.cabeçalho__img {
    margin-top: 40px;
    width: 222px;
    height: 222px;
    border-radius: 50%;

    object-fit: cover;

    animation-name: daesquerda;
    animation-duration: 1s;
}

.cabeçalho__paragrafo {
    margin-top: 32px;
    color: white;
    line-height: 19.5px;

    animation-name: dadireita;
    animation-duration: 1s;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos__caixa {
    margin-bottom: 32px;
    align-items: center;
    text-align: center;
    width: 300px;
    background: rgba(229, 229, 229, 0.30);
    border-radius: 18px;
    padding: 16px 52px;
    box-sizing: border-box;
}

.infos__caixa h2 {
    margin-bottom: 1rem;
}

.infos__caixa p {
    color: white;
}

.historia {
    background: var(--branco);
    padding-bottom: 3rem;
}

.historia__esquerda, .historia__direita {
    color: var(--verde-claro);
    position: relative;
    padding-top: 3rem;
    display: flex;
    align-items: center;
}

.historia p {
    padding: 0 1.5rem;
}

.historia__img {
    width: 138px;
    height: 209px;
    object-fit: cover;
}

.borda, .borda__direita {
    background-color: rgba(32, 100, 103, 0.2);
    position: absolute;
    top: 3rem;
    width: 138px;
    height: 209px;
    border: 2px solid var(--verde-musgo);
    transform: rotate(1.91deg);
}

.historia__direita {
    text-align: right;
}

.borda__direita {
    right: 0;
    transform: rotate(1.91deg);
}

.versiculo {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.versiculo__caixa {
    background: var(--marrom);
    border-radius: 30px;
    color: var(--bege);
    text-align: center;
    padding: 3rem;
}

.formulario {
    margin-bottom: 3rem;
}

.formulario__grupo {
    transition: all .3s;
}

.formulario__grupo:focus-within {
    transform:scale(1.05,1.00);
}

.formulario__input {
    width: 100%;
    padding: 1.5rem 1rem 0.5rem;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    outline-color: var(--laranja);
    margin-bottom: 5px;

    transition: all .5s;
}

.formulario__label {
    display: block;
    color: gray;
    padding-left: 15px;    
    transform: translateY(-2.2em);    
    transform-origin: 0 0;

    transition: all .3s;
}

.formulario__input:focus + .formulario__label,
.formulario__input:not(:placeholder-shown) + .formulario__label {
    transform: translateY(-2.8em) scale(.8);
}

button {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    background: var(--laranja);
    font-weight: 700;
    color: var(--branco);
    
    font-family: var(--montserrat);
}

.rodape {
    padding: 2rem;
    justify-content: center;
    text-align: center;
    color: var(--branco);
    background: var(--verde-claro);
}

.rodape h3 {
    font-family: var(--dancing);
    font-size: 22px;
    padding-bottom: 0.5em;
}

.rodape p {
    font-size: 12px;
}